<div class="container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search By Name"
                style="width:300px" [(ngModel)]="searchTerm" />
    </div>
    <div class="panel panel-primary"
    [class.panel-success]="selectedEmployeeId === employee.id"  *ngFor="let employee of filteredEmployees | employeeFilter:searchTerm">
<!-- <div class="panel panel-primary" *ngFor="let employee of employees"> -->
    <div (click)="onClick(employee.id)" class="pointerCursor">
  <div class="panel-heading">
    <h3 class="panel-title">{{employee.name}}</h3>
  </div>
    <div class="panel-body">

      
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              ID : {{employee.id}}
              <span class="badge badge-primary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Name : {{employee.name}}
              <span class="badge badge-primary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Gender : {{employee.gender}}
              <span class="badge badge-primary badge-pill"></span>
            </li>
          </ul>
          <div><button class="btn btn-primary pull-right" (click)="viewNextEmployee">Next</button></div>
        </div>
      </div>
      </div>
      
      </div>