<div class="container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search By Name"
                style="width:300px" [(ngModel)]="searchTerm" />
    </div>
    <div class="panel panel-primary"
    [class.panel-success]="selectedEmployeeId === employee.id"  *ngFor="let employee of filteredEmployees | employeeFilter:searchTerm">
<!-- <div class="panel panel-primary" *ngFor="let employee of employees"> -->

    <app-display-employee [employee]="employee" [searchTerm]="searchTerm">
    </app-display-employee>
    
      </div>
      
      </div>